---
import CheatsheetLayout from '../layouts/CheatsheetLayout.astro';
import PatternCard from '../components/PatternCard.astro';
import QuestionCard from '../components/QuestionCard.astro';
import GamePlanPanel from '../components/GamePlanPanel.astro';
import MappingPanel from '../components/MappingPanel.astro';
import SystemDesignPanel from '../components/SystemDesignPanel.astro';
import IntroPanel from '../components/IntroPanel.astro';
import StoryRouter from '../components/StoryRouter.astro';
import { chmuraConfig, chmuraAngularPatterns, chmuraRxjsPatterns, chmuraUiPatterns, chmuraQuestions, chmuraGamePlan } from '../data/chmura';
import { chmuraExperience } from '../data/experience-chmura';
import { chmuraExtras } from '../data/interview-extras';
---

<CheatsheetLayout
  title={chmuraConfig.title}
  subtitle={chmuraConfig.subtitle}
  accentColor={chmuraConfig.accentColor}
  accentSecondary={chmuraConfig.accentSecondary}
  tabs={chmuraConfig.tabs}
  timerMinutes={chmuraConfig.timerMinutes}
  hasSearch={true}
>
  <div id="panel-angular" class="panel active" role="tabpanel" aria-labelledby="tab-angular">
    {chmuraAngularPatterns.map(section => (
      <Fragment>
        <div class="section-label">{section.label}</div>
        <div class="pattern-grid">
          {section.cards.map(card => <PatternCard {...card} />)}
        </div>
      </Fragment>
    ))}
  </div>

  <div id="panel-rxjs" class="panel" role="tabpanel" aria-labelledby="tab-rxjs">
    {chmuraRxjsPatterns.map(section => (
      <Fragment>
        <div class="section-label">{section.label}</div>
        <div class="pattern-grid">
          {section.cards.map(card => <PatternCard {...card} />)}
        </div>
      </Fragment>
    ))}
  </div>

  <div id="panel-ui" class="panel" role="tabpanel" aria-labelledby="tab-ui">
    {chmuraUiPatterns.map(section => (
      <Fragment>
        <div class="section-label">{section.label}</div>
        <div class="pattern-grid">
          {section.cards.map(card => <PatternCard {...card} />)}
        </div>
      </Fragment>
    ))}
  </div>

  <div id="panel-questions" class="panel" role="tabpanel" aria-labelledby="tab-questions">
    {chmuraQuestions.map(q => <QuestionCard {...q} />)}
  </div>

  <div id="panel-plan" class="panel" role="tabpanel" aria-labelledby="tab-plan">
    <GamePlanPanel {...chmuraGamePlan} />
  </div>

  <div id="panel-experience" class="panel" role="tabpanel" aria-labelledby="tab-experience">
    <MappingPanel {...chmuraExperience} />
  </div>

  <div id="panel-design" class="panel" role="tabpanel" aria-labelledby="tab-design">
    <SystemDesignPanel topics={chmuraExtras.systemDesign} />
  </div>

  <div id="panel-intro" class="panel" role="tabpanel" aria-labelledby="tab-intro">
    <IntroPanel {...chmuraExtras.intro} />
  </div>

  <div id="panel-stories" class="panel" role="tabpanel" aria-labelledby="tab-stories">
    <StoryRouter routes={chmuraExtras.storyRoutes} />
  </div>
</CheatsheetLayout>
